.primary {
    color: #DAE1E7;
}

.primary_bg{
    background-color: #DAE1E7;
}

.secondary {
    color: #1C4B82;

}

.thirdry {
    color: #183661;
}

.info {
    color: #DD6B4D;
}

.danger {
    color: #FF4057;
}