.header {
    padding: 5px;
    background-color: #1c4b82;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
}

.search {
}


.refresh_btn {
    outline: none;
    color: #DAE1E7;
    border: 1px solid #DAE1E7;
    background-color: transparent;
}

.refresh_btn:hover{
    color: #1c4b82;
    background-color: #DAE1E7;
}