.header {
    padding: 5px 30px;
    background-color: #1c4b82;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
}

.mul{
    margin-left: 20px;
    margin-right: 30px;
}

.dropdown{
    width: 100px;
}

.search {
    display: flex;
}


.refresh_btn {
    outline: none;
    color: #DAE1E7;
    border: 1px solid #DAE1E7;
    background-color: transparent;
}

.refresh_btn:hover {
    color: #1c4b82;
    background-color: #DAE1E7;
}